In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [ ]:
%pwd

In [ ]:
first_df = pd.read_csv('data/전국_평균_분양가격(2013년_9월부터_2015년_8월까지).csv',
            encoding='cp949')

In [ ]:
first_df.info()

In [ ]:
last_df = pd.read_csv('data/주택도시보증공사_전국_평균_분양가격(2019년_12월).csv',encoding='cp949')

In [ ]:
last_df.info()

In [ ]:
last_df.head(2)

In [ ]:
last_df.tail(2)

In [ ]:
last_df.isnull().sum()

In [ ]:
True == 1

In [ ]:
False == 0

In [ ]:
True + True + False

In [ ]:
first_df.isnull().sum()

In [ ]:
last_df.info()

In [ ]:
# last_df['분양가격(㎡)'].sum()

In [ ]:
# last_df['분양가격(㎡)'].astype(float)

In [ ]:
pd.to_numeric(last_df['분양가격(㎡)'],errors='coerce')

In [ ]:
last_df['분양가격'] = pd.to_numeric(last_df['분양가격(㎡)'],errors='coerce')

In [ ]:
last_df.isnull().sum()

In [ ]:
last_df.info()

In [ ]:
type(np.NaN)

In [ ]:
last_df['분양가격'].sum()

In [ ]:
last_df['분양가격'].mean()

In [ ]:
# 2013 ~2015 데이터 평당 분양가격, 2015~2019 ㎡당 분양가격임.

In [ ]:
last_df['평당분양가격'] = last_df['분양가격'] * 3.3

In [ ]:
last_df.info()

In [ ]:
last_df['분양가격(㎡)'].describe()

In [ ]:
last_df['분양가격'].describe()

In [ ]:
last_df['분양가격(㎡)'].nunique()

In [ ]:
# 규모구분 
last_df['규모구분'].nunique()

In [ ]:
last_df['규모구분'].unique()

In [ ]:
last_df['규모구분'].replace('전용면적','')

In [ ]:
last_df['전용면적'] = last_df['규모구분'].str.replace('전용면적','')
last_df['전용면적'] = last_df['전용면적'].str.replace('초과','~')
last_df['전용면적'] = last_df['전용면적'].str.replace('이하','')
last_df['전용면적'] = last_df['전용면적'].str.replace(' ','').str.strip()
last_df['전용면적']

In [ ]:
# 필요없는 컬럼 제거('규모구분','분양가격(㎡)')

In [ ]:
last_df.columns

In [ ]:
last_df.info() #memory usage: 271.1+ KB

In [ ]:
last_df.drop(columns=['규모구분','분양가격(㎡)'],inplace=True)

In [ ]:
last_df.info() #memory usage: 203.3+ KB

In [ ]:
# groupby() 데이터 집계

In [ ]:
last_df.groupby?

In [ ]:
last_df.head(2)

In [ ]:
last_df.groupby(['지역명'])['평당분양가격'].mean()

In [ ]:
last_df[last_df['전용면적']=='전체'].groupby(['지역명'])['평당분양가격'].mean()

In [ ]:
# 전용면적별 평당분양가격
last_df.groupby(['전용면적'])['평당분양가격'].mean()

In [ ]:
# 전용면적, 지역명 별 평당분양가격 평균
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean()

In [ ]:
last_df.groupby(['지역명','전용면적'])['평당분양가격'].mean()

In [ ]:
last_df.groupby(['지역명','전용면적'])['평당분양가격'].mean().unstack()

In [ ]:
last_df.groupby(['전용면적','지역명'])['평당분양가격'].mean().unstack().round()

In [ ]:
import matplotlib.pyplot as plt

plt.rcParams['font.family'] = 'NanumSquare Neo Light'
plt.rcParams['font.size'] = 10
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
g = last_df.groupby(['지역명'])['평당분양가격'].mean().to_frame()

In [ ]:
g.plot()

In [ ]:
g.plot(kind='barh')

In [ ]:
g.plot.barh()

In [ ]:
g.plot.bar(rot=0, figsize=(10,3))

In [ ]:
g = last_df.groupby(['지역명'])['평당분양가격'].mean().sort_values(ascending=False).to_frame()
g

In [ ]:
g.plot.bar(rot=0, figsize=(10,3))

In [ ]:
# 연도별 평당분양가격

g = last_df.groupby(['연도'])['평당분양가격'].mean().sort_values(ascending=False).to_frame()
g.plot.barh(rot=0, figsize=(10,3))

In [ ]:
g = last_df.pivot_table(columns='연도', values='평당분양가격')
g

In [ ]:
g.plot.box()

In [ ]:
g = last_df.pivot_table(index='연도', values='평당분양가격')
g['평당분양가격'].plot.pie(shadow=True, radius=0.8)

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(10,3))
sns.barplot(data=last_df,x='지역명',y='평당분양가격',ci='sd')

In [ ]:
sns.catplot(data=last_df, x='연도', y='평당분양가격', kind='violin', col='지역명',col_wrap=4)

In [ ]:
sns.relplot(data=last_df, x='연도', y='평당분양가격', col='지역명', col_wrap=2, hue='월', kind='line')

In [ ]:
plt.figure(figsize=(7,10))
sns.lineplot(data=last_df, x='연도', y='평당분양가격', hue='지역명')
plt.legend(bbox_to_anchor=(0,1), loc=2)

In [ ]:
first_df.head(2)

In [ ]:
pd.options.display.max_columns = 25
pd.options.display.max_rows = 20

In [ ]:
last_df

In [ ]:
# melt를 이용하여 월별데이터를 '기간' 컬럼으로 가격은 '평당분양가격'으로 처리하여 first_df_melt로 저장
first_df_melt = first_df.melt(id_vars='지역', var_name='기간', value_name='평당분양가격')
first_df_melt.head(5)

In [ ]:
# 기간 컬럼의 값을 '년', '월'로 분리
first_df_melt['연도'] = first_df_melt['기간'].str.split('년').str.get(0).astype(int)

In [ ]:
first_df_melt['월'] = first_df_melt['기간'].str.split('년').str.get(1).str.replace('월','').astype(int)

In [ ]:
# last_df 전용면적에서 전체만 가지고 last_df_prepare 로 저장
last_df_prepare = last_df[last_df['전용면적']=='전체'].copy()

In [ ]:
last_df_prepare.rename(columns={"지역명" : "지역"}, inplace=True)

In [194]:
# concat으로 데이터 합치기

first = first_df_melt[['지역','연도','월','평당분양가격']]
last = last_df_prepare[['지역','연도','월','평당분양가격']]
df = pd.concat([first,last])

In [195]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df

In [200]:
df.groupby(['연도','월','지역']).count()

            평당분양가격
연도   월  지역
2013 12 강원       1
        경기       1
        경남       1
        경북       1
        광주       1
...            ...
2019 12 전남       1
        전북       1
        제주       1
        충남       1
        충북       1

[1224 rows x 1 columns]